/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */
/* Styling */
html {
    max-width: 100%;
    min-height: 100%;
}

.designthinking-php {
    background-color: white;
}

#mitgrid-designthinking {
    margin: 0.8em;
}

header,
footer {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
    width: 100%;
    height: auto;
}

footer {
    color: white;
}

footer ul {
    list-style: none;
}

#designthinking-titel {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    text-align: center;
}

.designthinking-section-overskrift {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
}

.designthinking-section-underoverskrift {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.designthinking-bodytext {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-top: 7px;
}


.fase-ikoner {
    display: none;
}

.dt-img {
    max-width: 100%;
}

#implement-hackathon {
    height: 500px;
    
}

#center {
    justify-content: center;
}

.flexbox-images-implement {
    display: flex;
    text-align: center;
    font-size: 25px;
}

.flexbox-images-prototype {
    display: flex;
}

/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */