/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

/* STYLING GENERELT FOR ALLE SIDER */



/* STYLING GENERELT FOR ALLE SIDER */
html, body {
    min-height: 100%;
}

/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/ 
/* Styling */
.index-php {
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    background-repeat: no-repeat;
}


/* STYLING MOBILE FIRST */
/* GLOBAL MENU */

/* Burgermenu ikonet START*/
.navbar-toggler .burgermenu-line {
    width: 30px;
    height: 3px;
    display: block;
    background-color: #fff;
    border-radius: 3px;
} /* Dette er for at lave nye linjer som kan laves helt hvide */

.navbar-toggler .burgermenu-line:nth-child(2),
.navbar-toggler .burgermenu-line:nth-child(3){
    margin-top: 8px;
} /* Dette er for at lave afstand mellem de tre linjer uden at den øverste linje laver afstand til toppen af siden */

.navbar-toggler .burgermenu-line:nth-child(3) {
    height: 3.2px;
} /* den sidste linje for lidt mere højde fordi den så ud til at blive cuttede af på toppen */

.navbar button {
    border: none;
} /* Dette er for at den grå border omkring burgermenuen ikke er der */

.navbar button {
      border: none;
      outline: none;
    } /* Dette er for at fjerne den border/outline som kommer frem når man trykker på burger menuen */

/* Burgermenu ikonet END*/

.navbar-brand img {
    max-width: 50px;
}


/* Links focus effect START */
#nav-link-uxui:focus {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
    color: white;
    font-weight: 600;
} /* til design thinking linket */


#nav-link-ui2:focus {
    background: linear-gradient(90deg, #FA5B50, #E00F00 40%) no-repeat;
    color: white;
    font-weight: 600;
} /* til videoproduktion link */

#nav-link-ui3:focus {
    background: linear-gradient(90deg, #ED980C, #F75F0C 50%) no-repeat;
    color: white;
    font-weight: 600;
} /* til fotografering link */

#nav-link-projekter:focus {
    background-color: white;
    color: black;
    font-weight: 600;
}

/* Links focus effect END */


/* menu liste */
.navbar-collapse .nav-item {
    margin-bottom: 1.5em;
}

.navbar-collapse {
    margin-top: 5px;
    z-index: 99;
}


.globalmenu .navbar-collapse {
    background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    background-repeat: no-repeat;
    min-height: 100%;
    
}

.globalmenu .navbar-collapse {
        position: absolute;
        top: 63px;
        left: 0;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }

.globalmenu .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.2s ease;
        transition: left 0.2s ease;
        left: -100%;
    }

.globalmenu .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.2s ease-in;
        transition: left 0.2s ease-in;
    }

/* drop downs Mobile */
.globalmenu .dropdown-menu {
    border: none;
    background: transparent;
}

.globalmenu .dropdown-menu a {
    color: white;
}

.globalmenu #navbarDropdown {
    color: white;
}

/* focus effect dropdowns */
#design-dropdown a:active {
    background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat;
    font-weight: 600;
}

#design-dropdown a:focus {
    background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat;
    font-weight: 600;
}

#design-dropdown a:hover {
    background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat;
    font-weight: 600;
}

#usability-dropdown a:focus {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#usability-dropdown a:active {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#usability-dropdown a:hover {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kommunikation-dropdown a:focus {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kommunikation-dropdown a:active {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kommunikation-dropdown a:hover {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kodning-dropdown a:focus {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kodning-dropdown a:active {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#kodning-dropdown a:hover {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    font-weight: 600;
}

#omsiden-dropdown  {
    color: white;
}

#omsiden-dropdown a:focus {
    background-color: white;
    color: black;
    font-weight: 600;
}

#omsiden-dropdown a:active {
    background-color: white;
    color: black;
    font-weight: 600;
}

#omsiden-dropdown a:hover {
    background-color: white;
    color: black;
    font-weight: 600;
}



/* display på mobil og tablet */
.globalmenu-desktop {
    display: none;
}

/* STYLING FORSIDE MENU */
.forsidemenu {
    max-width: 100%;
    height: auto;
    margin-top: 2.5em;
}

#forsideimg {
    max-width: 100%;
    height: auto;
    margin-top: -10%;
    margin-left: 0.5em;
    padding-right: 1em;
}

#uxoguiboks {
    background-color: crimson;
    max-width: 100%;
    height: auto;
    text-align: center;
    color: white;
    animation: mymove 1s;
}

#uxboks {
    background-color: crimson;
    max-width: 100%;
    text-align: center;
    color: white;
    animation: mymove 1s;
}

#uiboks {
   background-color: crimson;
    max-width: 100%;
    text-align: center;
    color: white; 
    animation: mymove 1s;
}

#uxoguiboks h3 {
    font-weight: 800;
}

#uxboks h3 {
    font-weight: 800;
}

#uiboks h3 {
    font-weight: 800;
}



#uxuimenu {
    text-align: center;

}

#uxmenu {
    text-align: center;
    
}

#uimenu {
    text-align: center;
}

#designthinkingforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#kodningforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#kommunikationforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#usabilityforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#designforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#videoforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

#fotoforside {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

/* animation af ux/ui, ux og ui boksene */
@keyframes mymove {
  0%   { width: 0%;}
  100% {  width: 100%;}
}

/* Hover effects til links på forside menu */
#designthinkingforside:focus {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#uxmenu a:focus {
    background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#designforside:focus {
    background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#videoforside:focus {
    background: linear-gradient(90deg, #FA5B50, #E00F00 40%) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fotoforside:focus {
    background: linear-gradient(90deg, #ED980C, #F75F0C 50%) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* STYLING FORSIDEMENU END */

/* STYLING VALUEPROPERSITION */
.valuepropersition {
    max-width: 100%;
    height: auto;
    text-align: center;
    color: white;
    margin-top: 2em;
}

#desktop-tekst {
    display: none;
}

#overskrift {
    font-size: 30px;
    font-family: quimby-gubernatorial, sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
}

#underoverskrift {
    font-size: 18px;
    font-style: normal;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* STYLING VALUEPROPERSITION END */


/* GRIDS */
/* HELE SIDEN MOBIL */
.globalmenu {
    grid-area: mobilmenu;
}

.forsidemenu {
    grid-area: forsidemenu;
}

.valuepropersition {
    grid-area: valuepropersition;
}

#mitgrid {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "mobilmenu"
        "valuepropersition"
        "forsidemenu";
}

/* FORSIDE MENU MOBIL*/
#forsideimg {
    grid-area: brain;
}

#uxuimenu {
    grid-area: uxuimenu;
}

#uxmenu {
    grid-area: uxmenu;
}

#uimenu {
    grid-area: uimenu;
}


.forsidemenu {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "brain uxuimenu"
        "brain uxmenu"
        "brain uimenu";
}


/* GRID DESKTOP (MEN HER TIL MOBIL OG TABLET FORDI ELLERS VIRKER DE ANDRE GRIDS IKKE OPTIMALT) */
#grid-desktop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "valuepropersition"
        "forsidemenu";
}

/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/





/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */
/* Styling */


.designthinking-php {
    background-color: #FCFCFC;
    max-width: 100%;
}

.designthinking-php header {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
}

.designthinking-php footer {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
    color: white;
}

.designthinking-php footer p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.designthinking-php footer ul {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
}

/* FONTS */
.designthinking-php #designthinking-titel {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.designthinking-php .designthinking-section-overskrift {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
}

.designthinking-php .designthinking-section-underoverskrift {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
}

.designthinking-php .designthinking-bodytext {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.designthinking-php .brainstorm-list-item {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 20px;
    
}


.designthinking-php .brainstorm-list-item:nth-child(1),
.designthinking-php .brainstorm-list-item:nth-child(2) {
        padding-bottom: 20px;
        
}

.designthinking-php #ideate-liste {
    margin-top: 20px;
}

.designthinking-php #kildeliste-dt h2 {
    text-decoration: underline;
}

.designthinking-php #kildeliste-list-dt li {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.designthinking-php #kildeliste-list-dt li {
    padding-bottom: 25px;
}

.designthinking-php #implement-wireframe h4,
.designthinking-php #implement-slut h4 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.designthinking-php #min-udvikling-dt section:nth-child(2),
    
.designthinking-php #min-udvikling-dt section:nth-child(3) {
        margin-top: 25px;
}

.designthinking-php #holdkritikken {
    margin-top: 10px;
}


/* Image sizes og display*/
.designthinking-php #empathizeikon-desktop,
.designthinking-php #defineikon-desktop,
.designthinking-php #ideateikon-desktop,
.designthinking-php #prototypeikon-desktop,
.designthinking-php #implementikon-desktop {
    display: none;
}

.designthinking-php .dt-img {
    max-width: 100%;
    height: auto;
}

/* Grid areas */
.designthinking-php #designthinking-titel {
    grid-area: titel;
}

.designthinking-php #dt-faser-mobil {
    grid-area: dtfaser;
}

.designthinking-php #hvad-er-designthinking {
    grid-area: hvaderdt;
    max-width: 100%;
    height: auto;
}

.designthinking-php #empathize {
    grid-area: empathize;
    max-width: 100%;
    height: auto;
}

.designthinking-php #define {
    grid-area: define;
    max-width: 100%;
    height: auto;
}

.designthinking-php #ideate {
    grid-area: ideate;
    max-width: 100%;
    height: auto;
}

.designthinking-php #prototype {
    grid-area: prototype;
    max-width: 100%;
    height: auto;
}

.designthinking-php #implement {
    grid-area: implement;
    max-width: 100%;
    height: auto;
}

.designthinking-php #implement-wireframe {
    grid-area: implement-wireframe;
    max-width: 100%;
    height: auto;
}

.designthinking-php #implement-slut {
    grid-area: implement-slut;
    max-width: 100%;
    height: auto;
}

.designthinking-php #min-udvikling-dt {
    grid-area: minudvikling;
    max-width: 100%;
    height: auto;
}

.designthinking-php #kildeliste-dt {
    grid-area: kildeliste;
    max-width: 100%;
    height: auto;
}

.designthinking-php #hackathon-medal {
    grid-area: hackathonmedal;
}

.designthinking-php #mitgrid-designthinking {
    margin: 0.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "titel titel"
        "dtfaser dtfaser"
        "hvaderdt hvaderdt"
        "empathize empathize"
        "define define"
        "ideate ideate"
        "prototype prototype"
        "implement implement"
        "implement-wireframe implement-slut"
        "implement-hackathon implement-hackathon"
        "hackathonmedal hackathonmedal"
        "minudvikling minudvikling"
        "kildeliste kildeliste";
}


/* Grid for prototype og implement */
.designthinking-php #prototype-intro {
    grid-area: prototype-intro;
}

.designthinking-php #prototype-optimering {
     grid-area: prototype-omptimering;
}

.designthinking-php #prototype-lofi {
     grid-area: prototype-lofi;
}

.designthinking-php #prototype-hifi {
     grid-area: prototype-hifi;
}

.designthinking-php #prototype-lofi-v-hifi {
     grid-area: prototype-lofivhifi;
}

.designthinking-php #prototype {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "prototype-intro prototype-intro"
        "prototype-omptimering prototype-omptimering"
        "prototype-lofi prototype-hifi"
        "prototype-lofivhifi prototype-lofivhifi";
}

/* implement grid */

.designthinking-php #implement-intro {
    grid-area: implement-intro;
}

.designthinking-php #prototype-hifi2 {
    grid-area: implement-hifi2;
}

.designthinking-php #implement-praksis {
    grid-area: implement-slut;
}

.designthinking-php #implement-undtagelse {
    grid-area: implement-undtagelse;
}

.designthinking-php #implement-hackathon {
    grid-area: implement-hackathon;
}

.designthinking-php #implement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "implement-intro implement-intro"
        "implement-hifi2 implement-slut"
        "implement-undtagelse implement-undtagelse";
}

/* margin mellem sections */
.designthinking-php #hvad-er-designthinking {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #empathize {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #define {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #ideate {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #prototype {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #implement {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #min-udvikling-dt {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.designthinking-php #kildeliste-dt {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* sections i sections margin */
.designthinking-php #hvad-er-designthinking p{
    margin-top: 0.75em;
}

.designthinking-php #empathize p {
    margin-top: 0.75em;
}

.designthinking-php #define p{
    margin-top: 0.75em;
}

.designthinking-php #ideate p{
    margin-top: 0.75em;
}

.designthinking-php #prototype p{
    margin-top: 0.75em;
}

.designthinking-php #implement p{
    margin-top: 0.75em;
}

.designthinking-php #min-udvikling-dt p{
    margin-top: 0.75em;
}

.designthinking-php .dt-img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */















/* MOBILE eller mindre */
@media only screen and (max-width: 600px) {

/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/
    /* forside menu */
    .forsidemenu {
        margin-top: 50px;
    }
    
    /* forside menu lister UI, UX og UX/UI */
    #uxoguiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxuimenu {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #uxmenu {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #uimenu {
        font-size: 18px;
    }
    
    #uxoguiboks h3 {
        font-size: 20px;
    }

    #uxboks h3 {
        font-size: 20px;
    }

    #uiboks h3 {
        font-size: 20px;
    }
    
    #uimenu li:nth-child(2),
    #uimenu li:nth-child(3),
    #uimenu li:nth-child(4){
        margin-bottom: 3px;
    }
    
    #uxmenu li:nth-child(2),
    #uxmenu li:nth-child(3),
    #uxmenu li:nth-child(4){
        margin-bottom: 3px;
    }   
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/
    
    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */   
    
    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */    
    
    
    
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/
    body {
        height: 750px;
    }
    
    /* Valuepropersition */
    #overskrift {
        font-size: 45px;
    }
    
    #underoverskrift {
        font-size: 23px;
    }
    
    /* forside menu */
    .forsidemenu {
        margin-top: 65px;
    }
    
    #forsideimg {
        max-width: 85%;
        padding-right: 0;
        margin-left: 30px;
    }
    
    /* forside menu lister UI, UX og UX/UI */
    #uxoguiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxuimenu {
        font-size: 17px;
        margin-bottom: 20px;
    }

    #uxmenu {
        font-size: 17px;
        margin-bottom: 20px;
    }

    #uimenu {
        font-size: 17px;
    }
    
    #uxoguiboks h3 {
        font-size: 21px;
    }

    #uxboks h3 {
        font-size: 21px;
    }

    #uiboks h3 {
        font-size: 21px;
    }
    
    #uimenu li:nth-child(2),
    #uimenu li:nth-child(3),
    #uimenu li:nth-child(4){
        margin-bottom: 9px;
    }
    
    #uxmenu li:nth-child(2),
    #uxmenu li:nth-child(3),
    #uxmenu li:nth-child(4){
        margin-bottom: 9px;
    }   
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/
    
        
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/ 
    
    /* FORSIDE MENU GRID */
    .forsidemenu {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "uxuimenu uxuimenu uxuimenu"
        "uxmenu brain uimenu"
    }

    #uxuimenu {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    /* STYLING FORSIDE MENU */
    
    #forsideimg {
        max-width: 110%;
        margin-top: 0.5em;
        margin-left: -5%;
    }
    
    #uxoguiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uiboks {
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #uxuimenu {
        font-size: 23px;
        margin-bottom: 10px;
    }

    #uxmenu {
        font-size: 23px;
        margin-bottom: 10px;
        margin-top: 4em;
        max-width: 90%;
    }

    #uimenu {
        font-size: 23px;
        margin-top: 4em;
        max-width: 90%;
        position: relative;
        left: 10%;
    }
    
    #uxoguiboks h3 {
        font-size: 25px;
    }

    #uxboks h3 {
        font-size: 25px;
    }

    #uiboks h3 {
        font-size: 25px;
    }
    
    #uimenu li:nth-child(2),
    #uimenu li:nth-child(3),
    #uimenu li:nth-child(4){
        margin-bottom: 10px;
    }
    
    #uxmenu li:nth-child(2),
    #uxmenu li:nth-child(3),
    #uxmenu li:nth-child(4){
        margin-bottom: 10px;
    }
    
    #designthinkingforside {
        font-weight: 800;
    }

    #kodningforside {
        font-weight: 800;
    }

    #kommunikationforside {
        font-weight: 800;
    }

    #usabilityforside {
        font-weight: 800;
    }

    #designforside {
        font-weight: 800;
    }

    #videoforside {
        font-weight: 800;
    }

    #fotoforside {
        font-weight: 800;
    }
    
    .valuepropersition {
        margin-top: 2em;
    }
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/


    
    
    
    
    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */
/* Styling */
/* FONTS */
.designthinking-php #designthinking-titel {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 57px;
    text-align: center;
    margin-top: 20px;
}

.designthinking-php .designthinking-section-overskrift {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
}

.designthinking-php .designthinking-section-underoverskrift {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 29px;
}

.designthinking-php .designthinking-bodytext {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.designthinking-php .brainstorm-list-item {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-left: 20px;
}

.designthinking-php .brainstorm-list-item:nth-child(1),
.designthinking-php .brainstorm-list-item:nth-child(2) {
        padding-bottom: 20px;
        
    }
    
.designthinking-php #ideate-liste {
    margin-top: 20px;
    
}


.designthinking-php #kildeliste-dt h2 {
    text-decoration: underline;
}

.designthinking-php #kildeliste-list-dt li {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.designthinking-php #kildeliste-list-dt li {
    padding-bottom: 25px;
}

.designthinking-php #implement-wireframe h4,
.designthinking-php #implement-slut h4 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}


/* Image sizes og display*/
.designthinking-php #empathizeikon-desktop,
.designthinking-php #defineikon-desktop,
.designthinking-php #ideateikon-desktop,
.designthinking-php #prototypeikon-desktop,
.designthinking-php #implementikon-desktop {
    display: none;
}

.designthinking-php .dt-img {
    max-width: 50%;
    height: auto; 
    margin-right: auto;
    margin-left: auto;
}
    
.designthinking-php #dt-faser-mobil {
    max-width: 90%;
    height: auto; 
    margin-right: auto;
    margin-left: auto;
}



/* Grid areas */
.designthinking-php #designthinking-titel {
    grid-area: titel;
}

.designthinking-php #dt-faser-mobil {
    grid-area: dtfaser;
}

.designthinking-php #hvad-er-designthinking {
    grid-area: hvaderdt;
    max-width: 100%;
    height: auto;
}

.designthinking-php #empathize {
    grid-area: empathize;
    max-width: 100%;
    height: auto;
}

.designthinking-php #define {
    grid-area: define;
    max-width: 100%;
    height: auto;
}

.designthinking-php #ideate {
    grid-area: ideate;
    max-width: 100%;
    height: auto;
}

.designthinking-php #prototype {
    grid-area: prototype;
    max-width: 100%;
    height: auto;
}

.designthinking-php #implement {
    grid-area: implement;
    max-width: 100%;
    height: auto;
}

.designthinking-php #min-udvikling-dt {
    grid-area: minudvikling;
    max-width: 100%;
    height: auto;
}

.designthinking-php #kildeliste-dt {
    grid-area: kildeliste;
    max-width: 100%;
    height: auto;
}

.designthinking-php #hackathon-medal {
    grid-area: hackathonmedal;
}

.designthinking-php #mitgrid-designthinking {
    margin: 2em;
}

/* Grid for prototype og implement */
.designthinking-php #prototype-intro {
    grid-area: prototype-intro;
}

.designthinking-php #prototype-optimering {
     grid-area: prototype-omptimering;
}

.designthinking-php #prototype-lofi {
     grid-area: prototype-lofi;
}

.designthinking-php #prototype-hifi {
     grid-area: prototype-hifi;
}

.designthinking-php #prototype-lofi-v-hifi {
     grid-area: prototype-lofivhifi;
}

.designthinking-php #prototype {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "prototype-intro prototype-intro"
        "prototype-omptimering prototype-omptimering"
        "prototype-lofi prototype-hifi"
        "prototype-lofivhifi prototype-lofivhifi";
}

/* implement grid */

.designthinking-php #implement-intro {
    grid-area: implement-intro;
}

.designthinking-php #prototype-hifi2 {
    grid-area: implement-hifi2;
}

.designthinking-php #implement-praksis {
    grid-area: implement-slut;
}

.designthinking-php #implement-undtagelse {
    grid-area: implement-undtagelse;
}

.designthinking-php #implement-hackathon {
    grid-area: implement-hackathon;
}

.designthinking-php #implement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "implement-intro implement-intro"
        "implement-hifi2 implement-slut"
        "implement-undtagelse implement-undtagelse"
        "implement-hackathon implement-hackathon"
}

/* margin mellem sections */
.designthinking-php #hvad-er-designthinking {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #empathize {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #define {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #ideate {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #prototype {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #implement {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #min-udvikling-dt {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.designthinking-php #kildeliste-dt {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* sections i sections margin */
.designthinking-php #hvad-er-designthinking p{
    margin-top: 0.75em;
}

.designthinking-php #empathize p {
    margin-top: 0.75em;
}

.designthinking-php #define p{
    margin-top: 0.75em;
}

.designthinking-php #ideate p{
    margin-top: 0.75em;
}

.designthinking-php #prototype p{
    margin-top: 0.75em;
}

.designthinking-php #implement p{
    margin-top: 0.75em;
}

.designthinking-php #min-udvikling-dt p{
    margin-top: 0.75em;
}

.designthinking-php .dt-img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


    
    
.designthinking-php #empathize-interview {
    margin-left: 25%;
}
    
.designthinking-php #define-onepage {
     margin-left: 25%;  
}
    
.designthinking-php #ideate-prakis  {
      margin-left: 25%;  
}

.designthinking-php #implement-praksis {
       margin-left: 25%;
}
    
.designthinking-php #prototype-hifi2 {
        margin-left: 25%;
}
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/ 
    
    /* GLOBAL MENU DESKTOP */
    /* display */
    .globalmenu {
        display: none;
    }
    
    .globalmenu-desktop {
        display: block;
    }
    
    .mega-menu {
        visibility: hidden;
        opacity: 0;
    }
    

    /* STYLING */
    .globalmenu-desktop .navbar-brand {
        margin-right: 0%;
        margin-top: 0;
        float: left;
    }
    
    .navbar-brand img {
        max-width: 60px;
    }
    
    .globalmenu-desktop .navbar-nav {
        margin-bottom: -1.5em;
    }
    
    #menulisteflyt-omsiden {
        margin-left: -5.5em;
    }
    
    .dropdown-menu {
        background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
    }
    
    /* MENULISTE BACKGROUND COLOR og FONT COLOR */
    .globalmenu-desktop .navbar a {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    /* mega dropdown menu */ 
    .dropdown-menu-mega .dropdown-menu {
        border: none;
        outline: none;
        background: linear-gradient(360deg,#030303 10%,#1f1f1f 360%);
        margin-top: -0.8em;

    }
    
    .dropdown-menu-mega .dropdown { 
        position: static; 
    }


    .dropdown-menu-mega .dropdown-menu { 
        width: 100%;
        height: auto;
    }

    .globalmenu-desktop .mega-dropdown-desktop {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 1em;
        margin-left: 2em;
    }
    
    .globalmenu-desktop .mega-dropdown-desktop h3 {
        color: white;
        text-align: center;
        background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat;
    }
    
    .globalmenu-desktop #background-design h3 {
        background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat;
    }


    /* HOVER */
    .globalmenu-desktop .dropdown a:hover {
        background-color: white;
        color: black;
    }
    
    .globalmenu-desktop .nav-link:hover {
        background-color: white;
        color: black;
    }
    
    /* FORSIDE MENU GRID */
    .forsidemenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "uxuimenu uxuimenu uxuimenu"
        "uxmenu brain uimenu";
    }

    #uxuimenu {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    /* Forside menu styling */
    .forsidemenu {
        margin-top: 2em;
    }
    
    #forsideimg {
        max-width: 80%;
        margin-left: 8%;
    }
    
    /* value propersition styling */
    .valuepropersition {
        margin-top: 1.5em;
        }
    
    #overskrift {
        font-size: 44px;
    }
    
    #underoverskrift {
        font-size: 22px
    }
    
    /* Hover effects til menuerne */
    #designthinkingforside {
        background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat, #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:0% 100%;
        font-size:30px;
        transition: 0.75s;
    }
    
    #designthinkingforside:hover {
        background-size:100% 100%;
    }

    #uxmenu a {
        background: linear-gradient(90deg, #0CD4F7, #0C4FF7) no-repeat, #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:0% 100%;
        font-size:30px;
        transition: 0.75s;
    }
    
    #uxmenu a:hover {
        background-size:100% 100%;
    }

    #designforside {
        background: linear-gradient(90deg, #BD67FF, #9200F0) no-repeat, #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:0% 100%;
        font-size:30px;
        transition: 0.75s;
    }
    
    #designforside:hover {
        background-size:100% 100%;
    }

    #videoforside {
        background: linear-gradient(90deg, #FA5B50, #E00F00 40%) no-repeat, #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:0% 100%;
        font-size:30px;
        transition: 0.75s;
    }
    
    #videoforside:hover {
        background-size:100% 100%;
    }

    #fotoforside {
        background: linear-gradient(90deg, #ED980C, #F75F0C 50%) no-repeat, #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:0% 100%;
        font-size:30px;
        transition: 0.75s;
    }
    
    #fotoforside:hover {
        background-size:100% 100%;
    }
    
    
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/

    
    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */
/* Styling */
.designthinking-php {
    background-color: #FCFCFC;
    max-width: 100%;
}

.designthinking-php header {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
}

.designthinking-php footer {
    background: linear-gradient(90deg, #0083E0, #D100E0) no-repeat;
    color: white;
}

.designthinking-php footer p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.designthinking-php footer ul {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
}

/* FONTS */
.designthinking-php #designthinking-titel {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.designthinking-php .designthinking-section-overskrift {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
}

.designthinking-php .designthinking-section-underoverskrift {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
}

.designthinking-php .designthinking-bodytext {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.designthinking-php .brainstorm-list-item {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 20px;
    
}
    


    
.designthinking-php .brainstorm-list-item:nth-child(1),
.designthinking-php .brainstorm-list-item:nth-child(2) {
        padding-bottom: 20px;
        
}

.designthinking-php #ideate-liste {
    margin-top: 20px;
}

.designthinking-php #kildeliste-dt h2 {
    text-decoration: underline;
}

.designthinking-php #kildeliste-list-dt li {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.designthinking-php #kildeliste-list-dt li {
    padding-bottom: 25px;
}

.designthinking-php #implement-wireframe h4,
.designthinking-php #implement-slut h4 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Image sizes og display*/
.designthinking-php #empathizeikon-desktop,
.designthinking-php #defineikon-desktop,
.designthinking-php #ideateikon-desktop,
.designthinking-php #prototypeikon-desktop,
.designthinking-php #implementikon-desktop {
    display: block;
    max-width: 100%;
    height: auto;
}
    
.designthinking-php #dt-faser-mobil {
        display: none;
}

.designthinking-php .dt-img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Grid areas */
.designthinking-php #designthinking-titel {
    grid-area: titel;
}

.designthinking-php #dt-faser-mobil {
    grid-area: dtfaser;
}

.designthinking-php #hvad-er-designthinking {
    grid-area: hvaderdt;
    max-width: 100%;
    height: auto;
}

.designthinking-php #empathize {
    grid-area: empathize;
    max-width: 100%;
    height: auto;
}

.designthinking-php #define {
    grid-area: define;
    max-width: 100%;
    height: auto;
}

.designthinking-php #ideate {
    grid-area: ideate;
    max-width: 100%;
    height: auto;
}

.designthinking-php #prototype {
    grid-area: prototype;
    max-width: 100%;
    height: auto;
}

.designthinking-php #implement {
    grid-area: implement;
    max-width: 100%;
    height: auto;
}

.designthinking-php #min-udvikling-dt {
    grid-area: minudvikling;
    max-width: 100%;
    height: auto;
}

.designthinking-php #kildeliste-dt {
    grid-area: kildeliste;
    max-width: 100%;
    height: auto;
}

.designthinking-php #hackathon-medal {
    grid-area: hackathonmedal;
    width: 100%;
}

.designthinking-php #mitgrid-designthinking {
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "titel titel titel"
        "dtfaser dtfaser dtfaser"
        "hvaderdt hvaderdt hvaderdt"
        "empathize empathize empathize"
        "define define define"
        "ideate ideate ideate"
        "prototype prototype prototype"
        "implement implement implement"
        "hackathonmedal minudvikling implement-hackathon"
        "kildeliste kildeliste kildeliste";
}

.designthinking-php #hvad-er-designthinking {
    grid-column-start: 2;
        grid-column-end: 2;
}
    
    .designthinking-php #kildeliste-dt {
        grid-column-start: 2;
        grid-column-end: 2;
    }
    
    .designthinking-php #implement-hackathon {
        width: 100%;
    }

/* Grid for alle sectioner */
/* grid ares til ikoner */
.designthinking-php #empathizeikon-desktop {
        grid-area: empathizeikon;
    }
    
.designthinking-php #defineikon-desktop {
        grid-area: defineikon;
    }
    
.designthinking-php #ideateikon-desktop {
        grid-area: ideateikon;
    }
    
.designthinking-php #prototypeikon-desktop {
        grid-area: prototypeikon;
    }
    
.designthinking-php #implementikon-desktop {
        grid-area: implementikon;
    }

/* Empathize */
.designthinking-php #empathize-intro {
    grid-area: empathize-intro;
}

.designthinking-php #empathize-interview {
     grid-area: empathize-interview;
}

.designthinking-php #empathize-praksis {
     grid-area: empathize-praksis;
}

.designthinking-php #empathize {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "empathizeikon empathize-intro empathize-interview"
        "empathizeikon empathize-praksis empathize-interview"
}
  
/* Define */
.designthinking-php #define-intro {
    grid-area: define-intro;
}

.designthinking-php #define-onepage {
     grid-area: define-onepage;
}

.designthinking-php #define-praksis {
     grid-area: define-praksis;
}

.designthinking-php #define {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "defineikon define-intro define-onepage"
        "defineikon define-praksis define-onepage";
}

/* Ideate */
.designthinking-php #ideate-intro {
    grid-area: ideate-intro;
}

.designthinking-php #ideate-ideer {
     grid-area: ideate-ideer;
}

.designthinking-php #ideate-prakis {
     grid-area: ideate-prakis;
}

.designthinking-php #ideate-brainstorm {
     grid-area: ideate-brainstorm;
}

.designthinking-php #ideate {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "ideateikon ideate-intro ideate-prakis"
        "ideateikon ideate-ideer ideate-prakis"
        "ideateikon ideate-brainstorm ideate-prakis"
}
    
/* prototype */
.designthinking-php #prototype-intro {
    grid-area: prototype-intro;
}

.designthinking-php #prototype-optimering {
     grid-area: prototype-omptimering;
}

.designthinking-php #prototype-lofi {
     grid-area: prototype-lofi;
}

.designthinking-php #prototype-hifi {
     grid-area: prototype-hifi;
}

.designthinking-php #prototype-lofi-v-hifi {
     grid-area: prototype-lofivhifi;
}

.designthinking-php #prototype {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        "prototypeikon prototype-intro prototype-lofi prototype-hifi"
        "prototypeikon prototype-omptimering prototype-lofi prototype-hifi"
        "prototypeikon prototype-lofivhifi prototype-lofi prototype-hifi";

}

/* implement grid */

.designthinking-php #implement-intro {
    grid-area: implement-intro;
}

.designthinking-php #prototype-hifi2 {
    grid-area: implement-hifi2;
}

.designthinking-php #implement-praksis {
    grid-area: implement-slut;
}


.designthinking-php #implement-undtagelse {
    grid-area: implement-undtagelse;
} 
    
.designthinking-php #implement-hackathon {
    grid-area: implement-hackathon;
    max-width: 50%;
}

.designthinking-php #implement {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        "implementikon implement-intro implement-hifi2 implement-slut"
        "implementikon implement-undtagelse implement-hifi2 implement-slut";
}

/* margin mellem sections */
.designthinking-php #hvad-er-designthinking {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #empathize {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #define {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #ideate {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #prototype {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #implement {
    margin-top: 1em;
    margin-bottom: 1em;
}

.designthinking-php #min-udvikling-dt {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.designthinking-php #kildeliste-dt {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* sections i sections margin */
.designthinking-php #hvad-er-designthinking p{
    margin-top: 0.75em;
}

.designthinking-php #empathize p {
    margin-top: 0.75em;
}

.designthinking-php #define p{
    margin-top: 0.75em;
}

.designthinking-php #ideate p{
    margin-top: 0.75em;
}

.designthinking-php #prototype p{
    margin-top: 0.75em;
}

.designthinking-php #implement p{
    margin-top: 0.75em;
}

.designthinking-php #min-udvikling-dt p{
    margin-top: 0.75em;
}

.designthinking-php .dt-img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
    
.designthinking-php #empathize-interview {
    margin-left: 0;
}
    
.designthinking-php #define-onepage {
     margin-left: 0;  
}
    
.designthinking-php #ideate-prakis  {
      margin-left: 0;  
}

.designthinking-php #implement-praksis {
       margin-left: 0;
}
    
.designthinking-php #prototype-hifi2 {
        margin-left: 0;
}


/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */
    
    
    
    
    
    
    
    
}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML START*/
    
    /* GRID DESKTOP */
    #grid-desktop {
    margin-top: 8%;
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-areas: 
        "valuepropersition forsidemenu";
    }
    
    /* GLOBAL MENU DESKTOP */
    /* styling */
    .navbar-brand img {
    max-width: 60px;
    }
    
    
    .globalmenu-desktop .navbar a {
        color: white;
        font-size: 17px;
        font-weight: 500;
    }
    
    .globalmenu-desktop .navbar h3 {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    
    .globalmenu-desktop .mega-dropdown-desktop {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 1em;
        margin-left: 3em;
    }
    
    /* VALUE PROPERSITION STYLING */
    .valuepropersition {
        margin-top: 5%;
        width: 100%;
        margin-left: 2em;
        text-align: left;
        
    }
    
    #desktop-tekst {
        display: block;
        font-size: 14px;
        font-style: normal;
        font-family: montserrat, sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
    }
    
    #overskrift {
        font-size: 50px;
        
    }
    
    #underoverskrift {
        font-size: 16px;
        margin-top: -0.5em;
    }
    
    /* Forside menu styling */
    .forsidemenu {
        width: 95%;
        margin: 0;
    }
    
    #forsideimg {
        max-width:100%;
        margin: 0;
    }
    
    #uxuimenu a{
        font-size: 122%;
    }
    
    #uxmenu a{
        font-size: 122%;
    }
    
    #uimenu a{
        font-size: 122%;
    }
    
    
/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTMLINDEX.HTML INDEX.HTML END*/

    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP START */

    
    
/* DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP DESIGNTHINKING.PHP END */   
    
}













